<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Java Servlet</display-name>
  <servlet>
  <servlet-name>addition_servlet</servlet-name>
  <servlet-class>com.starkindustries.AddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>addition_servlet</servlet-name>
  <url-pattern>/add</url-pattern>
  </servlet-mapping>
    <servlet-name>square_servlet</servlet-name>
  <servlet-class>com.starkindustries.SquareServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  <servlet-name>square_servlet</servlet-name>
  <url-pattern>/square</url-pattern>
  </servlet-mapping>
</web-app>